:root{   /* global variable*/
    --dark-red--:#981a2c;
}

.container{
    border:1px solid black;
    background-color: blueviolet;
    height:300px;
    width:300px;

}
.box{
    border:2px solid rgb(78, 134, 78);
    background-color: rgb(190, 238, 240);
    --dark-red:#981a2c;
    color:#981a2c;
    color:var(--dark-red)
}