 /* -----transition in css------
*transition timing
*transition delay
*transition property 
*transition function 
and animation key frames is used for animation  */
.container{
    height:700px;
    width:10000px;
    background-color: rgb(10, 8, 7);
    border: 3px solid rgb(50, 179, 196);
    display: flex;
}
.box{
    border:2px solid yellow;
    background-color: rgb(208, 240, 240);
    height: 200px;
    width: 200px;
    margin: 10px;
    /* transition :0.00001s;
    transition-property: all;
    it is a bad practise */
    /* transition:transform  3s ease 0.1s;
     transition:background-color 3s ease 0.1s; */
     /* transition: all  3s ease 1s; */
     /* transition:transform 3s cubic-bezier(1,-0.9,0,1.68);  khud se bana lo property*/
   transition-property: transform;
     transition-duration:3s;
     transition-timing-function: ease;
     transition-delay:1s;
    } 
.box:hover {
     background-color: rgb(90, 1, 1); 
     /* transform: translateX(501px)rotate(360deg); */
     transform: scale(2) translateX(50px)rotate(45deg);

}